* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(21, 99, 125);
    overflow-y: auto;
    min-height: 100vh;
}

svg path:hover {
    fill: green !important;
    cursor: pointer;
}



#nav {
    background-color: white;
    padding: 10px;
    text-align: center;
}

#nav button {
    padding: 10px;
    background-color: rgb(21, 99, 125);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#nav :hover {
    background-color: rgb(15, 75, 100);
}

#flag img {
    width:20%;
    height:20%;
    margin-top: 20px;
    margin-left: 40px;

}

#left-column {
    margin-left: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    float:left;

}

#instructions {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

svg {
    height: 95%;
    width: 95%;
    margin-left: 200px;
    margin-top: -250px;
    float:left;
}
